<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Список Лотов</title>
    <header th:insert="blocks/header::header"></header>
</head>

<body>
<div class="bg-img">
    <div id="header" class="container">
        <div class="topnav">
            <a href="buyer">Авторизация</a>
            <a href="#">Корзина</a>
            <!--            <%&#45;&#45;            <a href="search">Поиск</a>&#45;&#45;%>-->
        </div>
    </div>
</div>

<div class="topnav">
    <a th:href="@{/}">Главная страница</a>
    <a th:href="@{/buyer}">Пользователь</a>
    <a href="catalog">Каталог</a>
    <!--    <%&#45;&#45;    <a href="stok">Акция</a>&#45;&#45;%>-->
    <a class="active" th:href="@{/admin}">Админ</a>
</div>

<div class="container mt-5">
    <h1>Список Лотов</h1>

    <div class="container mt-2 mb-3">
        <a th:href="'/admin/lotAdd'" class="btn btn-outline-dark">Добавить лот</a>
    </div>

    <table class="table table-hover table-responsive-md">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lots : ${lotDtoList}" class="alert-warning">
            <td th:text="${lots.id}"></td>
            <td th:text="${lots.nameLot}"></td>
            <td th:text="${lots.descriptionLot}"></td>
            <td th:text="${lots.priceLot}"></td>
            <!--            <td th:text="${lots.statusLot}">-->
            <td>


                <div th:switch="${lots.statusLot}">
                    <div th:case="true" class="form-check">
                        <input style="background-color: black" class="form-check-input" type="checkbox" value=""
                               id="flexCheckCheckedDisabled" checked disabled>
                        <label class="form-check-label" for="flexCheckCheckedDisabled">
                            В продаже
                        </label>
                    </div>
                    <div th:case="false" class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                        <label class="form-check-label" for="flexCheckDisabled">
                            Не в продаже
                        </label>
                    </div>
                </div>


                <!--                <c:choose>-->
                <!--                    <c:when test="${lot.status==\"true\"}">-->
                <!--                    <div class="form-check">-->
                <!--                        <input style="background-color: black" class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>-->
                <!--                        <label class="form-check-label" for="flexCheckCheckedDisabled">-->
                <!--                            В продаже-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    </c:when>-->
                <!--                    <c:otherwise>-->
                <!--                        <div class="form-check">-->
                <!--                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>-->
                <!--                            <label class="form-check-label" for="flexCheckDisabled">-->
                <!--                                Не в продаже-->
                <!--                            </label>-->
                <!--                        </div>-->
                <!--                    </c:otherwise>-->
                <!--                </c:choose>-->


            </td>
            <td>
                <!--                <div class="dropdown">-->
                <!--                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"-->
                <!--                            data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--                        Выбрать-->
                <!--                    </button>-->
                <!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                <!--                        <li>-->
                <!--                            <a th:href="'/buyer/' + ${buyers.id} + '/update'" class="dropdown-item">Редактировать</a>-->
                <!--                        </li>-->

                <!--                        <li>-->
                <!--                            <a th:href="'/buyer/' + ${buyers.id} + '/delete'" class="dropdown-item">Удалить</a>-->
                <!--                    </ul>-->
                <!--                </div>-->


                <a th:href="'/admin/' + ${lots.id} + '/lotEdit'" class="btn btn-warning">Редактировать</a>
                <a th:href="'/admin/' + ${lots.id} + '/lotDelete'" class="btn btn-success">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>